In [36]:
from socceraction.data.wyscout import PublicWyscoutLoader
from socceraction.spadl.wyscout import convert_to_actions as convert_to_actions_wyscout
from socceraction.spadl.statsbomb import convert_to_actions as convert_to_actions_statsbomb
from socceraction.data.opta import OptaLoader
from socceraction.data.statsbomb import StatsBombLoader
from socceraction.spadl.config import actiontypes, bodyparts
import socceraction.spadl as spadl
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, roc_auc_score, brier_score_loss, log_loss, mean_absolute_error, r2_score, mean_absolute_percentage_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, matthews_corrcoef, balanced_accuracy_score
from xgboost import XGBClassifier, XGBRegressor
from catboost import CatBoostClassifier
import math
import pickle
import os
from name_matching.name_matcher import NameMatcher
from rapidfuzz import fuzz
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.feature_selection import r_regression, SelectKBest, chi2, mutual_info_classif, SequentialFeatureSelector, RFECV, SelectFromModel
from scipy.stats import pearsonr, chisquare
from mrmr import mrmr_classif
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import LinearSVR, SVC
from sklearn.linear_model import Lasso, LogisticRegression

In [37]:
# IMPORTANT CONSTANTS AND MAPS
MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR = {
    "xpass" : {
        "model_directory" : "data/model_xpass/",
        "csv_output_filename" : "xpass_player_skill_probs_dataset.csv",
        "type_ids_spadl" : [0,1]
    },
    "xgoal" : {
        "model_directory" : "data/model_xgoal/",
        "csv_output_filename" : "xgoal_player_skill_probs_dataset.csv",
        "type_ids_spadl" : [11, 12, 13]
    },
    "xdribble" : {
        "model_directory" : "data/model_xdribble/",
        "csv_output_filename" : "xdribble_player_skill_probs_dataset.csv",
        "type_ids_spadl" : [7]
    }
}
DIRECTORY_STATSBOMB_NON_360_CSV_DATAS = "data/statsbomb_event_non_360_data"
DIRECTORY_FINAL_PLAYERS_CSV_DATAS = "data/players_skill_dataset/final_players_skill_dataset.csv"

In [38]:
api_statsbomb = StatsBombLoader(root="data/statsbomb", getter="local")

In [39]:
def convert_events_df_to_spadl_statsbomb(events_df, home_team_id):
    spadl_events_df = convert_to_actions_statsbomb(events_df, home_team_id)
    spadl_events_df['time_seconds'] = spadl_events_df['time_seconds'].astype('float64')
    spadl_events_df['timestamp'] = pd.to_datetime(spadl_events_df['time_seconds'], unit='s')
    return spadl_events_df

In [40]:
def collect_all_raw_statsbomb_non_360_spadl():
    api = api_statsbomb
    list_competitions_ids = []
    list_game_ids = []

    competitions_df = api.competitions()
    for _, row in competitions_df.iterrows():
        if row['competition_gender'] == 'male':
                list_competitions_ids.append((row['competition_id'], row['season_id']))
        
    for competition_id, season_id in list_competitions_ids:
        games_df = api.games(competition_id, season_id)
        for _, row in games_df.iterrows():
            list_game_ids.append((row['game_id'], row['home_team_id'], row['away_team_id']))
            
    for game_id, home_team_id, away_team_id in list_game_ids:
        this_game_events_df = api.events(game_id)
        this_game_events_spadl_df = convert_events_df_to_spadl_statsbomb(this_game_events_df, home_team_id)
        # Export to external csv iteratively
        this_game_events_spadl_df.to_csv(f'data/statsbomb_event_non_360_data/{game_id}_{home_team_id}_{away_team_id}_statsbomb_event_non_360_data.csv')

In [41]:
# Comment it if statsbomb event 360 data already collected
# collect_all_raw_statsbomb_non_360_spadl()

In [42]:
def load_and_concat_statsbomb_non_360_df_from_csv():
    list_pass_event_df = []
    for filename in os.listdir(DIRECTORY_STATSBOMB_NON_360_CSV_DATAS):
        f = os.path.join(DIRECTORY_STATSBOMB_NON_360_CSV_DATAS, filename)
        if os.path.isfile(f):
            pass_event_df = pd.read_csv(f)
            list_pass_event_df.append(pass_event_df)
    return pd.concat(list_pass_event_df)

In [43]:
big_statsbomb_non_360_events_df = load_and_concat_statsbomb_non_360_df_from_csv()
big_statsbomb_non_360_events_df.head()

,Unnamed: 0,game_id,original_event_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,type_id,result_id,bodypart_id,action_id,timestamp
0,0,15946,549567bd-36de-4ac8-b8dc-6b5d3f1e4be8,1,0.0,206,6581.0,52.058824,33.655696,76.058824,23.240506,0,1,4,0,1970-01-01 00:00:00.000
1,1,15946,44679971-4477-441a-947b-eca1d7786aaf,1,2.0,206,6855.0,76.058824,23.240506,73.411765,22.637975,21,1,0,1,1970-01-01 00:00:02.000
2,2,15946,4e4e4cad-9897-43ec-842d-585a4077f6ce,1,3.0,206,6855.0,73.411765,22.637975,29.558824,63.007595,0,0,5,2,1970-01-01 00:00:03.000
3,3,15946,be27cc25-92b5-4696-b43c-aad957a6119a,1,7.0,217,5203.0,28.764706,63.782278,30.088235,53.108861,0,1,0,3,1970-01-01 00:00:07.000
4,4,15946,b33c0b7f-7456-4efe-b43c-5fd7cbd14689,1,8.0,217,5470.0,30.088235,53.108861,31.058824,64.298734,0,1,1,4,1970-01-01 00:00:08.000

In [44]:
final_player_skills_dataset = pd.read_csv(DIRECTORY_FINAL_PLAYERS_CSV_DATAS)
final_player_skills_dataset.dropna(subset="player_id", inplace=True)
final_player_skills_dataset.head()

,Unnamed: 0.1,level_0,dex,index,Unnamed: 0,game_id,team_id,player_id,player_name,nickname,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
1,1,0,0,0.0,0.0,15946.0,217.0,3501.0,Philippe Coutinho Correia,Philippe Coutinho,...,70+3,69+3,69+3,69+3,70+3,66+3,58+3,58+3,58+3,66+3
2,2,0,0,1.0,1.0,15946.0,217.0,5203.0,Sergio Busquets i Burgos,Sergio Busquets,...,79+3,86+3,86+3,86+3,79+3,78+3,82+3,82+3,82+3,78+3
3,3,0,0,2.0,2.0,15946.0,217.0,5211.0,Jordi Alba Ramos,Jordi Alba,...,85+3,80+3,80+3,80+3,85+3,84+3,78+3,78+3,78+3,84+3
4,4,0,0,3.0,3.0,15946.0,217.0,5213.0,Gerard Piqué Bernabéu,Gerard Piqué,...,76+3,82+3,82+3,82+3,76+3,78+3,84+3,84+3,84+3,78+3
5,5,0,0,4.0,4.0,15946.0,217.0,5246.0,Luis Alberto Suárez Díaz,Luis Suárez,...,69+5,68+5,68+5,68+5,69+5,66+5,63+5,63+5,63+5,66+5

In [45]:
def count_total_success_action(row, statsbomb_event_non_360_df, list_type_ids, count_total):
    event_data_for_this_player_and_type = statsbomb_event_non_360_df[ \
        (statsbomb_event_non_360_df['player_id'] == row['player_id']) & \
        (statsbomb_event_non_360_df['type_id'].isin(list_type_ids))
    ]
    value_counts_success_df = event_data_for_this_player_and_type['result_id'].value_counts()
    total_success_action = 0
    total_action = 0
    for value, counter in value_counts_success_df.items():
        if (value == 1):
            total_success_action += counter
        total_action += counter
    return total_success_action if not count_total else total_action

def construct_player_skills_probabilities_dataset(statsbomb_event_non_360_df, final_player_skill_df):
    for key in list(MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR.keys()):
        list_type_ids = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR[key]["type_ids_spadl"]
        directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR[key]["model_directory"]
        output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR[key]["csv_output_filename"]

        modified_final_player_skills_df = final_player_skill_df.copy()
        modified_final_player_skills_df['statistic_total_success_action'] = modified_final_player_skills_df.apply(lambda x : count_total_success_action(x, statsbomb_event_non_360_df, list_type_ids, False), axis=1)
        modified_final_player_skills_df['statistic_total_action'] = modified_final_player_skills_df.apply(lambda x : count_total_success_action(x, statsbomb_event_non_360_df, list_type_ids, True), axis=1)
        modified_final_player_skills_df['statistic_success_action_probs'] = modified_final_player_skills_df['statistic_total_success_action'] / modified_final_player_skills_df['statistic_total_action']

        modified_final_player_skills_df = modified_final_player_skills_df[modified_final_player_skills_df['statistic_total_action'] != 0]
        modified_final_player_skills_df.to_csv(directory_model + output_csv_filename)

In [46]:
# Comment it out if player skill probabilities dataset already constructed
# construct_player_skills_probabilities_dataset(big_statsbomb_non_360_events_df, final_player_skills_dataset)

In [47]:
# Add additional computed field into xpass df (Comment it if already computed !!)
# directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xpass"]["model_directory"]
# output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xpass"]["csv_output_filename"]
# xpass_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
# total_success_passes_all_players = xpass_player_probs_df['statistic_total_success_action'].sum()
# xpass_player_probs_df['statistic_success_action_among_players'] = xpass_player_probs_df['statistic_total_success_action'] / total_success_passes_all_players
# xpass_player_probs_df['statistic_success_total'] = xpass_player_probs_df['statistic_success_action_among_players'] * xpass_player_probs_df["statistic_success_action_probs"]
# xpass_player_probs_df.to_csv(directory_model + output_csv_filename)

In [48]:
# Add additional computed field into xgoal df (Comment it if already computed !!)
# directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xgoal"]["model_directory"]
# output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xgoal"]["csv_output_filename"]
# xgoal_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
# total_success_shots_all_players = xgoal_player_probs_df['statistic_total_success_action'].sum()
# xgoal_player_probs_df['statistic_success_action_among_players'] = xgoal_player_probs_df['statistic_total_success_action'] / total_success_shots_all_players
# xgoal_player_probs_df['statistic_success_total'] = xgoal_player_probs_df['statistic_success_action_among_players'] * xgoal_player_probs_df["statistic_success_action_probs"]
# xgoal_player_probs_df.to_csv(directory_model + output_csv_filename)

In [49]:
# Add additional computed field into xdribble df (Comment it if already computed !!)
# directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xdribble"]["model_directory"]
# output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xdribble"]["csv_output_filename"]
# xdribble_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
# total_success_dribble_all_players = xdribble_player_probs_df['statistic_total_success_action'].sum()
# xdribble_player_probs_df['statistic_success_action_among_players'] = xdribble_player_probs_df['statistic_total_success_action'] / total_success_dribble_all_players
# xdribble_player_probs_df['statistic_success_total'] = xdribble_player_probs_df['statistic_success_action_among_players'] * xdribble_player_probs_df["statistic_success_action_probs"]
# xdribble_player_probs_df.to_csv(directory_model + output_csv_filename)

In [77]:
# Inspect Xpass Probabilites Player sorted from the highest 
directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xpass"]["model_directory"]
output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xpass"]["csv_output_filename"]
xpass_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
xpass_player_probs_df.sort_values(by="statistic_success_action_among_players", ascending=False, inplace=True)
xpass_player_probs_df[xpass_player_probs_df['statistic_success_action_probs'] == xpass_player_probs_df['statistic_success_action_probs'].max()]

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,level_0,dex,index,Unnamed: 0,game_id,team_id,player_id,...,LB,LCB,CB,RCB,RB,statistic_total_success_action,statistic_total_action,statistic_success_action_probs,statistic_success_action_among_players,statistic_success_total
1403,1403,1411,1634,0,0,12.0,12.0,3764440.0,1042.0,24169.0,...,61+2,66+2,66+2,66+2,61+2,49,49,1.0,3.280076e-05,3.280076e-05
2436,2436,2448,2868,0,0,8.0,8.0,3857263.0,770.0,8507.0,...,75+2,74+2,74+2,74+2,75+2,38,38,1.0,2.543732e-05,2.543732e-05
2322,2322,2333,2722,0,0,23.0,23.0,3837785.0,167.0,7360.0,...,66+2,70+2,70+2,70+2,66+2,34,34,1.0,2.275971e-05,2.275971e-05
1840,1840,1849,2155,0,0,17.0,17.0,3802709.0,135.0,4894.0,...,61+2,59+2,59+2,59+2,61+2,27,27,1.0,1.807389e-05,1.807389e-05
3503,3503,3524,4180,0,0,2.0,2.0,7578.0,774.0,3878.0,...,64+2,66+2,66+2,66+2,64+2,24,24,1.0,1.606568e-05,1.606568e-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1638,1647,1913,0,0,25.0,25.0,3788749.0,908.0,16290.0,...,66+2,66+2,66+2,66+2,66+2,1,1,1.0,6.694032e-07,6.694032e-07
1757,1757,1766,2054,0,0,26.0,26.0,3794690.0,912.0,22026.0,...,62+2,62+2,62+2,62+2,62+2,1,1,1.0,6.694032e-07,6.694032e-07
1763,1763,1772,2060,0,0,30.0,30.0,3794692.0,911.0,23725.0,...,57+2,54+2,54+2,54+2,57+2,1,1,1.0,6.694032e-07,6.694032e-07
3138,3138,3154,3749,0,0,13.0,13.0,3890295.0,177.0,400983.0,...,51+2,46+2,46+2,46+2,51+2,1,1,1.0,6.694032e-07,6.694032e-07
1752,1752,1761,2047,0,0,27.0,27.0,3794685.0,915.0,9164.0,...,NaN,NaN,NaN,NaN,NaN,1,1,1.0,6.694032e-07,6.694032e-07

In [71]:
# Inspect Xgoal Probabilites Player sorted from the highest
directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xgoal"]["model_directory"]
output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xgoal"]["csv_output_filename"]
xgoal_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
xgoal_player_probs_df.sort_values(by="statistic_success_action_probs", ascending=False, inplace=True)
xgoal_player_probs_df[xgoal_player_probs_df['statistic_success_action_probs'] == xgoal_player_probs_df['statistic_success_action_probs'].max()]

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,level_0,dex,index,Unnamed: 0,game_id,team_id,player_id,...,LB,LCB,CB,RCB,RB,statistic_total_success_action,statistic_total_action,statistic_success_action_probs,statistic_success_action_among_players,statistic_success_total
2558,2558,3387,4019,0,0,3.0,3.0,69307.0,422.0,23975.0,...,43+2,46+2,46+2,46+2,43+2,2,2,1.0,0.000333,0.000333
613,613,745,826,0,0,0.0,0.0,267076.0,220.0,3163.0,...,58+2,58+2,58+2,58+2,58+2,1,1,1.0,0.000166,0.000166
2532,2532,3335,3962,0,0,12.0,12.0,69155.0,222.0,7669.0,...,55+2,52+2,52+2,52+2,55+2,1,1,1.0,0.000166,0.000166
1189,1189,1562,1811,0,0,23.0,23.0,3788745.0,785.0,6307.0,...,65+2,71+2,71+2,71+2,65+2,1,1,1.0,0.000166,0.000166
294,294,357,385,0,0,16.0,16.0,18237.0,169.0,5570.0,...,NaN,NaN,NaN,NaN,NaN,1,1,1.0,0.000166,0.000166
41,41,52,52,0,0,21.0,21.0,15973.0,902.0,11673.0,...,53+2,48+2,48+2,48+2,53+2,1,1,1.0,0.000166,0.000166
2543,2543,3357,3988,0,0,24.0,24.0,69220.0,1041.0,26638.0,...,63+2,70+2,70+2,70+2,63+2,1,1,1.0,0.000166,0.000166
2514,2514,3309,3934,0,0,3.0,3.0,68334.0,213.0,20368.0,...,63+2,62+2,62+2,62+2,63+2,1,1,1.0,0.000166,0.000166
715,715,909,1013,0,0,2.0,2.0,3749068.0,38.0,11348.0,...,55+2,57+2,57+2,57+2,55+2,1,1,1.0,0.000166,0.000166
2550,2550,3374,4005,0,0,26.0,26.0,69250.0,1043.0,26704.0,...,42+2,38+2,38+2,38+2,42+2,1,1,1.0,0.000166,0.000166
1742,1742,2278,2652,0,0,14.0,14.0,3829522.0,136.0,2971.0,...,67+2,71+2,71+2,71+2,67+2,1,1,1.0,0.000166,0.000166
1247,1247,1641,1907,0,0,17.0,17.0,3788749.0,908.0,6990.0,...,77+2,84+2,84+2,84+2,77+2,1,1,1.0,0.000166,0.000166
263,263,320,343,0,0,6.0,6.0,16317.0,217.0,5674.0,...,67+2,63+2,63+2,63+2,67+2,1,1,1.0,0.000166,0.000166
618,618,756,838,0,0,26.0,26.0,267197.0,219.0,27191.0,...,56+2,48+2,48+2,48+2,56+2,1,1,1.0,0.000166,0.000166
2528,2528,3329,3956,0,0,26.0,26.0,69139.0,214.0,26242.0,...,63+2,62+2,62+2,62+2,63+2,1,1,1.0,0.000166,0.000166
1349,1349,1785,2075,0,0,12.0,12.0,3802643.0,138.0,10480.0,...,61+2,60+2,60+2,60+2,61+2,1,1,1.0,0.000166,0.000166
1421,1421,1880,2190,0,0,5.0,5.0,3802809.0,134.0,3550.0,...,54+2,44+2,44+2,44+2,54+2,1,1,1.0,0.000166,0.000166
1094,1094,1425,1649,0,0,0.0,0.0,3773377.0,207.0,4267.0,...,66+2,75+2,75+2,75+2,66+2,1,1,1.0,0.000166,0.000166
2060,2060,2733,3206,0,0,27.0,27.0,3878547.0,291.0,386509.0,...,58+2,61+2,61+2,61+2,58+2,1,1,1.0,0.000166,0.000166

In [73]:
# Inspect Xdribble Probabilites Player sorted from the highest
directory_model = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xdribble"]["model_directory"]
output_csv_filename = MAPS_PLAYER_SKILL_PROBABILITIES_GENERATOR["xdribble"]["csv_output_filename"]
xdribble_player_probs_df = pd.read_csv(directory_model + output_csv_filename)
xdribble_player_probs_df.sort_values(by="statistic_success_action_among_players", ascending=False, inplace=True)
xdribble_player_probs_df[xdribble_player_probs_df['statistic_success_action_probs'] == xdribble_player_probs_df['statistic_success_action_probs'].max()]

                         full_name
366                 Jan Vertonghen
2579       Papiss Mison Djilobodji
460                Aymen Abdennour
2484  Ronaldo  Aparecido Rodrigues
1097                Gareth McAuley
...                            ...
419              Daniel Nieto Vela
1834              Abdoulaye Diallo
414      Abraham  Minero Fernández
325        Iker Casillas Fernández
1870             Rasmus Nicolaisen

[408 rows x 1 columns]